.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 30px);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.App a:focus {
    outline: none;
}

#container {
    border: 1px solid #eee;
    border-top: none;
    width: 100%;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App .check-mark img {
    width: 30px;
}

.App h1 {
    font-weight: 100;
    color: rgba(175, 47, 47, 0.5);
    font-size: 100px;
    margin: 25px 0;
}

.App .is-hidden img {
    display: none;
}

.App .is-hidden {
    display: none;
}

::placeholder {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #ddd;
    font-style: italic;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
